build:
  type: text
  content: |-
    export KUBECONFIG=/var/tmp/Roost/.kube/config.roostctl
    cd /var/tmp/generic-bank
    ./deploy.sh CZ08W3S6WA3S

    sudo apt-get install jq -y

    docker build -f ballot/Dockerfile -t ballot:$ROOST_ENV_ID .
    docker build -f ecserver/Dockerfile -t ecserver:$ROOST_ENV_ID .
deploy:
  type: text
  content: "#/bin/sh"
test:
  - ? name
    ? configType
    ? configPath
Last Updated By: ""
Last Updated On: 2022-07-07T09:57:35.895Z
