CF_Repo:
  id: ''
  key: Votingapp
  title: taher27/Votingapp
  owner: taher27
CF_Branch: main
CF_Git_path: /
CF_File_name: roost.appTest04Octcdk2.config
build:
  type: None
  content: ''
deploy:
  type: None
  content: ''
test: []
uninstall:
  type: None
  content: ''
lastUpdatedBy: Taher Mandapwala
lastUpdatedOn: 2022-10-11T12:43:51.871Z
