CF_Git_path: ballot/ballot.yaml
CF_File_name: roost.appTest04Octcdk2.config
build:
  type: None
  content: ''
deploy:
  type: None
  content: ''
test: []
uninstall:
  type: None
  content: ''
app_dependencies:
  type: None
  content: ''
app_deploy:
  type: None
  content: ''
app_test: []
app_uninstall:
  type: None
  content: ''
lastUpdatedBy: Taher Mandapwala
lastUpdatedOn: 2022-10-13T04:22:43.101Z
